<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OracleConn" connectionString="User Id=system;Password=root;Data Source=//127.0.0.1:1521/xe;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <!-- Database Master Table & Columns -->
    <add key="DatabaseTableName" value="V_EMP_DETAILS" />
    <add key="DatabasePcnoColumn" value="PCNO" />
    <add key="DatabasePisColumn" value="PIS" />
    <add key="DatabaseGpfPranColumn" value="GPFPRAN" />
    <add key="DatabaseBankAccNoColumn" value="BANK_ACCNO" />
    <add key="DatabaseAccNoColumn" value="ACCNO" />

    <!-- Active Directory / LDAP Settings -->
    <add key="ADConnectionPath" value="LDAP://192.168.0.106/DC=ad01,DC=yajnesh,DC=com" />
    
    <!-- Testing Bypass Flag: Set to 'true' for local testing without LDAP, or 'false' to enforce LDAP -->
    <add key="EnableLdapBypass" value="true" />

    <!-- Authorized Users Database Table -->
    <add key="AuthUsersTable" value="Excel_AppUsers" />
  </appSettings>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600" />
    
    <!-- Forms Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="1440" />
    </authentication>
    <sessionState timeout="1440" />

    <!-- Default Authorization: Deny Unauthenticated Users -->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>

  <!-- Allow Anonymous Access to Login page and static assets -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="style.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="app.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="lib">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
